<div class="row container">
  <div class="col-md-5 box-shadow center border-center">
    <div class="header gradient border-header">
      <div class="title">Login Form</div>
      <div class="icon">
        <i class="material-icons">clear</i>
      </div>
    </div>

    <div class="form">
      <mat-form-field class="login">
        <input matInput type="text" placeholder="Username" value="">
        <i class="material-icons color-icon" matSuffix>person</i>
      </mat-form-field>

      <mat-form-field class="login">
        <input matInput type="password" placeholder="Password" value="">
        <i class="material-icons color-icon" matSuffix>lock</i>
      </mat-form-field>
    </div>

    <div class="bottom">
      <div class="sign-in">
        <a routerLink="/jobs"><button class="button-sign-in">Sign In</button></a>
      </div>
      <div class="lost-pass">
        Lost Your Password ?
      </div>
    </div>
  </div>
</div>